.zcompdump*
.zsh/.zinit

_viminfo
.cache/
.DS_STORE

.vim/undo/*
.vim/backup/*
!.gitkeep

.config/karabiner/automatic_backups
.config/fish/*
!.config/fish/config.fish
!.config/fish/fish_plugins
!.config/fish/fishfile
!.config/fish/conf.d
.config/fish/conf.d/*
!.config/fish/conf.d/000-env.fish
!.config/fish/functions
.config/fish/functions/*
!.config/fish/functions/fish_prompt.fish
!.config/fish/functions/fish_right_prompt.fish

# Asr
Asr/Bar/
Asr/Tablet/
Asr/LastTab2.dat
Asr/Window6.hist
